<l7:PrivateKeyImportContext xmlns:l7="http://ns.l7tech.com/2010/04/gateway-management">
  <l7:Pkcs12Data>{{ KEYDATA }}</l7:Pkcs12Data>
  <l7:Alias>{{ KEYALIAS | escape }}</l7:Alias>
  <l7:Password>{{ KEYPASSWORD | escape }}</l7:Password>
</l7:PrivateKeyImportContext>
