{{ theUser }} ALL=NOPASSWD /bin/systemctl start VLProxyd
{{ theUser }} ALL=NOPASSWD /bin/systemctl stop VLProxyd
{{ theUser }} ALL=NOPASSWD /bin/systemctl restart VLProxyd
{{ theUser }} ALL=NOPASSWD /bin/systemctl status VLProxyd

